body {
margin: 0;
font-family: helvetica, Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 30px;
}

header{

    background-color: darkred;
    text-align: center;
    paddingtop: 50px;
    padding: bottom 50px; 
    
}

h1, h2{
    font-family: 'Limelight', sans-serif;
}

header h1{
    color: white;
   
}

header img{

    border-radius: 170px;
    width: 300px;
    border: 20px solid white;
}







main{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 10px;

}

main img{
    max-width: 100%;
}


h2{

    font-size: 35px;
    color: black;
    margin: 41px 0px 10px;
}

a{

    color: dark grey;
    
}

a:hover{
    background-color: darkred

}

footer{
    background-color: darkred;
    text-align: center;
    color: white;


}

footer p{
    margin: 0;

}

footer a{
color: white;

}
footer a:hover{
    opacity: .5;
    background-color: transparent;
    
    }

p.caption {
    margin: 0;
    color: gray;
    font-style: italic;

}